name: Deploy Docker Build for Supabase functions

on:
  workflow_dispatch:

jobs:
  build_and_deploy:
    name: Push a Docker Build, and Deploy Supabase functions one-by-one. 
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1

    - name: Set up Deno
      uses: denoland/setup-deno@v1
      with:
        deno-version: 'latest'

    - name: Install Supabase CLI
      uses: supabase/setup-cli@v1
      with:
        version: latest


    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build and Push Docker image
      run: |
        # getuser-handler
        docker build -t ${{ secrets.DOCKER_USERNAME }}/getuser-handler .
        docker tag ${{ secrets.DOCKER_USERNAME }}/getuser-handler
        docker push ${{ secrets.DOCKER_USERNAME }}/getuser-handler

    - name: Deploy functions to Supabase
      run:
        # getUser-Handler
        supabase functions deploy getUser-Handler --project-ref ${{ secrets.SUPABASE_PROJECT_ID }} --image ${{ secrets.DOCKER_USERNAME }}/getuser-handler
      env:
        SUPABASE_PROJECT_ID: ${{ secrets.SUPABASE_PROJECT_ID }}
        DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
        DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}