name: Deploy Docker Build

on:
  workflow_dispatch:

jobs:
  build_docker:
    name: Make a Docker Build
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1

    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    #- name: Build the Docker image
    #  run: 
    #    docker build -t kmock930/getuser-handler:tag supabase/functions/getUser-Handler

    - name: Build and Push Docker image
      uses: docker/build-push-action@v2
      with:
        context: .
        push: true
        tags: kmock930/getuser-handler:tag
